In [1]:
import pandas as pd
import sklearn
import ast

In [4]:
movies_df = pd.read_csv("Hydra-Movie-Scrape.csv")

In [5]:
movies_df.head()

,Title,Year,Summary,Short Summary,Genres,IMDB ID,Runtime,YouTube Trailer,Rating,Movie Poster,Director,Writers,Cast
0,Patton Oswalt: Annihilation,2017,"Patton Oswald, despite a personal tragedy, pro...","Patton Oswalt, despite a personal tragedy, pro...",Uncategorized,tt7026230,66,4hZi5QaMBFc,7.4,https://hydramovies.com/wp-content/uploads/201...,Bobcat Goldthwait,Patton Oswalt,Patton Oswalt
1,New York Doll,2005,A recovering alcoholic and recently converted ...,A recovering alcoholic and recently converted ...,Documentary|Music,tt0436629,75,jwD04NsnLLg,7.9,https://hydramovies.com/wp-content/uploads/201...,Greg Whiteley,Arthur Kane,Sylvain Sylvain
2,Mickey's Magical Christmas: Snowed in at the H...,2001,After everyone is snowed in at the House of Mo...,Mickey and all his friends hold their own Chri...,Adventure|Animation|Comedy|Family|Fantasy,tt0300195,65,uCKwHHftrU4,6.8,https://hydramovies.com/wp-content/uploads/201...,Tony Craig,Thomas Hart,Carlos Alazraqui|Wayne Allwine
3,Mickey's House of Villains,2001,The villains from the popular animated Disney ...,The villains from the popular animated Disney ...,Animation|Comedy|Family|Fantasy|Horror,tt0329374,0,JA03ciYt-Ek,6.6,https://hydramovies.com/wp-content/uploads/201...,Jamie Mitchell,Thomas Hart,Tony Anselmo|Wayne Allwine
4,And Then I Go,2017,"In the cruel world of junior high, Edwin suffe...","In the cruel world of junior high, Edwin suffe...",Drama,tt2018111,99,8CdIiD6-iF0,7.6,https://hydramovies.com/wp-content/uploads/201...,Vincent Grashaw,Brett Haley,Arman Darbo|Sawyer Barth

In [44]:
movies_df.drop(['IMDB ID', 'Runtime','YouTube Trailer','Summary'], axis=1)

,Title,Year,Short Summary,Genres,Rating,Movie Poster,Director,Writers,Cast
0,patton oswalt: annihilation,2017,"Patton Oswalt, despite a personal tragedy, pro...",Uncategorized,7.4,https://hydramovies.com/wp-content/uploads/201...,Bobcat Goldthwait,Patton Oswalt,Patton Oswalt
1,new york doll,2005,A recovering alcoholic and recently converted ...,Documentary|Music,7.9,https://hydramovies.com/wp-content/uploads/201...,Greg Whiteley,Arthur Kane,Sylvain Sylvain
2,mickey's magical christmas: snowed in at the h...,2001,Mickey and all his friends hold their own Chri...,Adventure|Animation|Comedy|Family|Fantasy,6.8,https://hydramovies.com/wp-content/uploads/201...,Tony Craig,Thomas Hart,Carlos Alazraqui|Wayne Allwine
3,mickey's house of villains,2001,The villains from the popular animated Disney ...,Animation|Comedy|Family|Fantasy|Horror,6.6,https://hydramovies.com/wp-content/uploads/201...,Jamie Mitchell,Thomas Hart,Tony Anselmo|Wayne Allwine
4,and then i go,2017,"In the cruel world of junior high, Edwin suffe...",Drama,7.6,https://hydramovies.com/wp-content/uploads/201...,Vincent Grashaw,Brett Haley,Arman Darbo|Sawyer Barth
...,...,...,...,...,...,...,...,...,...
3935,skyscraper,2018,A security expert must infiltrate a burning sk...,Action|Thriller,6.0,https://hydramovies.com/wp-content/uploads/201...,Rawson Marshall Thurber,Rawson Marshall Thurber,Chin Han|Dwayne Johnson|Neve Campbell
3936,trench 11,2017,"In the final days of WWI, an allied army unit ...",Horror|Thriller|War,5.3,https://hydramovies.com/wp-content/uploads/201...,Leo Scherman,Matt Booi,Charlie Carrick|Robert Stadlober|Rossif Suther...
3937,my daddy's in heaven,2017,"Becca, Adam and their 5-year-old daughter Acie...",Comedy|Drama|Family,5.8,https://hydramovies.com/wp-content/uploads/201...,Waymon Boone,Joseph Nasser,Corbin Bernsen|Jenn Gotzon Chandler|Lee Benton
3938,keeping up with the steins,2006,A 13-year-old boy uses his upcoming bar mitzva...,Comedy,5.4,https://hydramovies.com/wp-content/uploads/201...,Scott Marshall,Mark Zakarin,Daryl Sabara|Garry Marshall|Jeremy Piven
3939,ufo,2018,"A college student, who sees a UFO, uses his ex...",Action|Sci-Fi|Thriller,6.2,https://hydramovies.com/wp-content/uploads/201...,Ryan Eslinger,Ryan Eslinger,Alex Sharp|Benjamin Beatty|Ella Purnell

In [45]:
movies_df.describe()

              Year      Runtime       Rating
count  3940.000000  3940.000000  3940.000000
mean   2012.132741   100.353553     6.555685
std       4.821189    29.798215     0.892572
min    2000.000000     0.000000     1.700000
25%    2009.000000    91.000000     6.100000
50%    2013.000000   102.000000     6.600000
75%    2016.000000   115.000000     7.100000
max    2018.000000   338.000000     9.500000

In [46]:
movies_df.shape[1]

13

In [47]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3940 entries, 0 to 3939
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            3940 non-null   object
 1   Year             3940 non-null   int64
 2   Summary          3935 non-null   object
 3   Short Summary    3939 non-null   object
 4   Genres           3940 non-null   object
 5   IMDB ID          3940 non-null   object
 6   Runtime          3940 non-null   int64
 7   YouTube Trailer  3893 non-null   object
 8   Rating           3940 non-null   float64
 9   Movie Poster     3940 non-null   object
 10  Director         3940 non-null   object
 11  Writers          3922 non-null   object
 12  Cast             3916 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 400.3+ KB

In [55]:




print("Welcome to Movie Hub")
print("Please enter the name of the movie")
name = input("Enter your movie name: ")

# Filter DataFrame based on user input
matching_movies = movies_df[movies_df["Title"].str.contains(name, case=False, na=False)]

if not matching_movies.empty:
    print("Matching Movies:")
    display(matching_movies)
else:
    print("Movie not found. Enter something else")
    year = input("Enter the year the movie was released in: ")
    
    # Convert year to integer
    try:
        year = int(year)
        matching_movies_by_year = movies_df[movies_df["Year"] == year]
        
        if not matching_movies_by_year.empty:
            print("Movies released in", year)
            display(matching_movies_by_year)
            #print(tabulate(matching_movies, headers='keys', tablefmt='grid'))
        else:
            print("No movies found for the entered year. See you again!")
            genres = input("Enter the genres of the movie")
            try:
                matching_movie_by_genres = movies_df[movies_df["Genres"].str.contains(genres, case=False, na=False)]
                if not matching_movie_by_genres.empty:
                    print("movies by genres")
                    display(matching_movie_by_genres)
                else:
                    print("NO movie with that generes")
            except ValueError:
                print("Invalid year format. Please enter a number.")

    except valueError:
        print("Thank for visiting")

Welcome to Movie Hub
Please enter the name of the movie

Enter your movie name:  inception

Matching Movies:

,Title,Year,Summary,Short Summary,Genres,IMDB ID,Runtime,YouTube Trailer,Rating,Movie Poster,Director,Writers,Cast
2149,inception,2010,"Dom Cobb is a skilled thief, the absolute best...",A thief who steals corporate secrets through t...,Action|Adventure|Crime|Mystery|Sci-Fi,tt1375666,148,YoHD9XEInc0,8.8,https://hydramovies.com/wp-content/uploads/201...,Christopher Nolan,Christopher Nolan,Ellen Page|Joseph Gordon-Levitt|Leonardo DiCaprio